body{
    justify-content: center;
} 

h1{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color:white;
    font-family:sans-serif;
    font-weight: bold;
    text-shadow: 2px 1px #402c86;
    background:radial-gradient(#20aad8,#402c86);
    border-radius: 10px;
    box-shadow: 2 5px 8px rgba(0, 0, 100, 0.9);
} 

.h22{
    padding: 5px;
    font-size: 40px;
}

.table-container {
    display: flex;
    justify-content: center; /* 水平方向に中央寄せ */
    height: 100vh; /* ビューポートの高さを100%に設定 */
    align-items:flex-start; /* 垂直方向の位置を設定 */
    background: linear-gradient(#b5eecb, #548cf4);

}

#table2{
   justify-content: center;
   text-align: center;
   align-items: center;
}